*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f1f4fb;
}

*::before,*::after{
	box-sizing: border-box;
}

.todo-heading {
	font-size:1.5rem;
	text-align: center;
	margin-top: 40px;
}

.from-header{
	padding: 10px;
	background-color: #ffff;
	border-radius: 4px;
}

